* {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    padding: 15px 200px;
    background: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

header span {
    font-weight: 900;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
}

li {
    margin-left: 25px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

nav {
    font-size: 18px;
    color: #E5E7EB;
}

main {
    flex: 1;
}

.hero {
    box-sizing: border-box;
    padding: 100px 200px;
    background: #1F2937;
    color: #F9FAF8;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-info {
    flex: 1;
}

.hero-img {
    flex: 1;
    background: grey;
    height: 100%;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero button {
    border: none;
    border-radius: 6px;
    padding: 8px 50px;
    font-weight: 900;
    font-size: 18px;
}

.info {
    padding: 0 300px;
    height: 500px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

blockquote {
    background: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    padding: 0 300px;
    height: 500px;
}

blockquote p {
    font-weight: 300;
    font-style: italic;
}

.box {
    padding: 0 200px;
    background: #3882F6;
    color: #F9FAF8;
    height: 500px;
}

button {
    background: #3882F6;
    color: #F9FAF8;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background: #1F2937;
    color: #F9FAF8;
}